@import "./base.scss";

.button-main-blue {
  padding: 8px 20px;
  border-radius: 4px;
  font-size: 13px;
  font-weight: 400;
  background: #7cabe3;
  color: #fff;
}

.filter__arrow {
  cursor: pointer;
  path {
    transition: 0.15s;
  }
  &:hover {
    path {
      fill: #627083;
    }
  }
}

.utilities__icon {
  cursor: pointer;
  path {
    transition: 0.15s;
  }
  &:hover {
    path {
      fill: #a4a8b3;
    }
  }
}